


@model AccountVM
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Reset Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form login">
                        <h2>Reset Password</h2>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <p>
                                <label>Email <span>*</span></label>
                                <input type="text" asp-for="Password">
                                <span class="text text-danger" asp-validation-for="Password"></span>
                            </p>
                            <p>
                                <label>Email <span>*</span></label>
                                <input type="text" asp-for="ConfirmPassword">
                                <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>

                            </p>
                            <div class="form-group d-none">
                                <input type="email" class="form-control" asp-for="User.Email" id="emial">
                                <input type="text" class="form-control" asp-for="Token" id="emial">
                            </div>
                            <div class="login_submit">
                                <button type="submit">Reset</button>
                            </div>

                        </form>
                    </div>
                </div>
                <!--login area start-->
            </div>
        </div>
    </div>
</div>

