<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">home</a></li>
                        <li>Wishlist</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--wishlist area start -->
<div class="wishlist_page_bg">
    <div class="container">
        <div class="wishlist_area">
            <div class="wishlist_inner">
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <div class="table_desc wishlist">
                                <div class="cart_page table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product_remove">Delete</th>
                                                <th class="product_thumb">Image</th>
                                                <th class="product_name">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product_quantity">Stock Status</th>
                                                <th class="product_total">Add To Cart</th>
                                            </tr>
                                        </thead>
                                        <tbody id="wishlistTableId">
                                            @await Html.PartialAsync("_WishlistTablePartialView")
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="wishlist_share">
                        <h4>Share on:</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Script{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function WishlistLoad() {
            $.ajax({
                url: '/Product/GetWishlistPartial',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',

                success: function (result) {
                    $('.wishlist_load').empty();
                    $('.wishlist_load').append(result);

                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        }

        function WishlistTableLoad() {
            $.ajax({
                url: '/Product/GetWishlistTablePartial',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',

                success: function (result) {
                    $('#wishlistTableId').empty();
                    $('#wishlistTableId').append(result);

                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        }
        async function DeleteWishlistItem(itemId) {
            console.log(itemId)
            let checkajax = await $.ajax({
                url: "/Product/DeleteWishlistItem",
                type: "Post",
                data: {
                    itemID: parseInt(itemId)
                },
                success: function () {
                    //  let resobject = jQuery.parseJSON(data);
                    console.log("success AddtoCart")
                },
                error: function () {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            });
            if (checkajax) {
                WishlistTableLoad();
                WishlistLoad();
            } 
        }



    </script>
        
        }